@{
    ViewBag.Title = "Home Page";
}

<section class="milineaseccion">
    <img src="~/images/empleo logo.png" />
</section>
<aside>
    <h2><strong>Empleo.com</strong></h2>
    <br>
    <form>
        <div>
            <label for="name">Usuario: </label>
        </div>
        <div>
            <input type="text" name="name" placeholder="Usuario"/>
        </div>
        <br />
        <div>
            <label for="name">Contraseña: </label>
        </div>
        <div>
            <input type="password" placeholder="Contraseña"/>
        </div>
        <div>
            <br />
            <a href="#" class="btn btn-primary medio">Inicio</a>
        </div>
    </form>
    <article>No tengo cuenta <strong><a href="/Registro/Formulario">Registrarse</a> </strong> </article>
</aside>